<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="AVLDB" connectionString="Data Source=ITAC-P023\llm2;Initial Catalog=FTS;Integrated Security=false;user id=sa;password=123qwe" providerName="System.Data.SqlClient" />-->
    <!--<add name="AVLDB" connectionString="Data Source=192.168.8.40;Initial Catalog=FTS;Integrated Security=false;user id=sa;password=123@qwe" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- DEVELOPMENT.MODE = ON / OFF -->
    <add key="DEVELOPMENT.MODE" value="ON" />    
    <add key="MINUTE.OF.INACTIVE" value="1" />
    <add key="NO.OF.APP" value="1" />
    <!--<add key="APP.1" value="D:\workspace\test\MapData" />-->
    <add key="APP.1" value="\\192.168.8.42\d$\MapData" />
    <!--<add key="APP.#" value="log folder path|exe path" />-->
    <!--<add key="APP.1" value="D:\Itacsystem\exe-1\Log|D:\workspace\_codes\plusiv\Vmm1\VmmHFM1.exe" />-->
  </appSettings>
</configuration>