<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="EventLog"/>
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" 
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=PB2X-CORESVR;Initial Catalog=pb2x-rccdb;User ID=sa;password=123qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>
    <add name="DB2" connectionString="data source=192.168.8.141:1521/pb2x;user id=pb2x;password=pb2x;Unicode=True" providerName="System.Data.OracleClient" />
    <add name="AVL" connectionString="Data Source=192.168.8.42;Initial Catalog=avldb;User ID=sa;password=123@qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>    
    <add name="TAVL" connectionString="Data Source=192.168.8.42;Initial Catalog=avl;User ID=sa;password=123@qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>
    <add name="FTS" connectionString="Data Source=192.168.8.42;Initial Catalog=fts;User ID=sa;password=123@qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>
    <add name="REPORT" connectionString="Data Source=192.168.8.33;Initial Catalog=REPORT;User ID=sa;password=123@qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>

    <add name="LIVE" connectionString="Data Source=183.171.232.66,63341;Initial Catalog=fts;User ID=sa;password=123@qwe;Trusted_Connection=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="SELECTED_CONNECTION" value="live" />
    <add key="APPNAME" value="TESTING APPLICATION" />
    <add key="HIGHWAY_PREFIX" value="PB2" />
    <add key="TEST_MODE" value="ON" />
    <!--<add key="TMCWS_URL" value="http://localhost/ItramasTMCWS/ItramasTMCWS.asmx" />-->
    <add key="TMCWS_URL" value="http://localhost:9090/ItramasTMCWS/ItramasTMCWS.asmx" />
    <add key="DRS_PREVIEW_PAGE" value="http://211.25.170.211/plus/DRS_Preview.aspx" />
    <add key ="ALARM" value ="0"/>
    <add key="ET" value="0" />
    <add key="VMS" value="0" />
    <add key="VDS" value="0" />
    <add key="DRS" value="1" />
    <add key="ALARM_INTERVAL_MINUTE" value="5" />
    <add key="ET_INTERVAL_MINUTE" value="5" />
    <add key="VMS_INTERVAL_MINUTE" value="5" />
    <add key="VDS_INTERVAL_MINUTE" value="5" />
    <add key="DRS_INTERVAL_MINUTE" value="15" />
    <add key="CROPPED" value="false" />
    <add key="RESCALED" value="true" />
    <add key="SCALE_FACTOR" value=".6" />
    <add key="DRS_QUEUE" value="FormatName:Direct=os:imt-p013\private$\drsqueue" />
    <!-- LLM Authentication -->
    <add key="LOGIN" value="itac\bakhtiar" />
    <add key="PWD" value="032058038036063053050" />
    <add key="PROMODE" value="EDL" />

    <add key="BatchStartTime" value="00:10" />
  </appSettings>
</configuration>
